
.accountHeader{
  width: "100%";
  padding: "24px 40px";
  background: "#fff";
  box-Shadow: "0 2px 8px rgba(0;0;0;0.04)";
  display: flex;
  justify-content: "right";
  position: "fixed";
  top: 0;
  left: 0;
  z-Index: 10;
  align-items: center;

}  
.accountHeader h1{ 
  display: inline-block;
  margin-right: 20px;
  margin: 0; 
  font-Size: 30px;
  font-weight: 700; 
  color: "#0070f3"; 
  letter-Spacing: "1px" 
}

.accountElement{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 5px;
  border-bottom:  1px solid gray;
  border-radius: 10px;
  max-width: 1000px;
}
.accountElement label{
  padding: 10px 10px;
}

.updatebutton{
  background-color: lightblue;
  border-radius: 4px;
  width: 100px;
  padding: 5px;
  margin: 10px;
}

.signoutbutton{
  color: white;
  padding: 10px 5px;
  margin: 5px 5px;
  background-color: gray;
  display: inline-block;
}

.signoutform{
  width: 4rem;
  align-self: flex-end;
  float:right;
}