
.container{
  width:100%;
  display: flex;
  justify-content: center;
}

.form_group{
  padding-top: 10px;
}

.input_boxes{
  width: 30%;
  display: block;
  align-items: center;
  
}

.input_boxes input{  
  width: 100%;
  flex-grow: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-bottom: 2px solid white;
  border-radius: 5px;
}

.input_boxes label{
  text-align: left;
  margin-top: 5px;
  
  padding: 5px;
  padding-right: 10px;
}

.input_boxes button{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
  background-color: gray;
  border: 2px solid white;
}